@media screen and (max-width: 576px) {
  .container {
    width: 90%;
  }
  /* common-css */

  h1 {
    font-size: 1.5rem;
  }
  ul li a {
    font-size: 1rem;
  }
  main section {
    margin-top: 30px;
  }
  /* header */
  nav {
    flex-direction: column;
    padding: 0px 0 40px;
  }
  nav ul li {
    margin-left: 25px;
    margin-top: 20px;
  }
  .banner-content div {
    margin-top: 30px;
  }
  .banner-content h1,
  .banner-content p {
    width: 100%;
  }
  .title h1{
    font-size: 2rem;
    width: 80%;
  }
  .banner-content-fig img {
    width: 100%;
  }
  /* team-section */
.team{
    margin: 90px 10px;
}
.team-section{
   flex-direction: column;
}
.team-section div{
    width: 100%;
}
.team-imges{
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    margin-right: 0px;
}
.team-imges img{
    width: 95%;
}
.team-text{
    margin-top: 20px;
}
/* features-section */
.features-section{
    flex-direction: column;
    justify-content: center;
}
.features-text {
    margin-bottom: 20px;
}
.features-text p{
    width: 100%;
}

.card{
    width: 90%;
}
.card p{
    width: 100%;
}
.features-fig img{
 width: 90%;
}
.experience{
    width: 50%;
    padding: 10px 0;
    margin: 0 auto;
    right: 30px;
}
/* facts-section & sponspors-section */
.facts-para {
    width: 100%;
  }
  .facts-cards, .sponspors {
    flex-wrap: wrap;
  }
  .facts-card {
    border: 1px solid #ff900e;
    padding: 20px 5px;
    border-radius: 7px;
    width: 70%;
  }
  .sponspors img{
  width: 70px;
  }
  
}

@media screen and (min-width: 577px) and (max-width: 992px) {
  .container {
    width: 90%;
  }
  /* common-css */
  h1 {
    font-size: 1.9rem;
  }
  ul li a {
    font-size: 1.2rem;
  }
  /* header */
  nav ul li {
    margin-left: 25px;
  }
  .banner-content div {
    margin-top: 30px;
  }
  .banner-content h1,
  .banner-content p {
    width: 100%;
  }
  .title h1{
    font-size: 2.6rem;
  }
  .banner-content-fig img {
    width: 100%;
  }
   /* team-section */
.team{
    margin: 90px 30px;
}
.team-section{
    flex-direction: column;
}
.team-section div{
    width: 100%;
    margin-bottom: 20px;
}
.team-imges{
    margin-right: 30px;
}
.team-imges img{
    width: 100%;
}
.team-text{
    margin-top: 20px;
}
/* features-section */
.features-section{
    flex-direction: column;
    justify-content: center;
}
.features-text {
    margin-bottom: 20px;
}
.features-text p{
    width: 100%;
}
.cards{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.card{
    width: 90%;
}
.card p{
    width: 100%;
}
.features-fig img{
 width: 100%;
}
.experience{
    width: 50%;
    padding: 10px 0;
    margin: 0 auto;
    right: 30px;
}
/* facts-section & sponspors-section */
.facts-para {
    width: 100%;
  }
  .facts-cards, .sponspors {
    flex-wrap: wrap;
  }
  .facts-card {
    border: 1px solid #ff900e;
    padding: 20px 5px;
    border-radius: 7px;
    width: 40%;
  }
  .sponspors img{
  width: 120px;
  }
  
}
